.app {
  text-align: center;
  margin: 20px;
}

.product-list, .shopping-cart {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.product-list h2, .shopping-cart h2 {
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
#imgsize{
  width: 125px;
  height:125px;
  margin-left: 160px;
  margin-top: 30px;
}