/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgb(234, 183, 208);    
    background-size: cover;
   
  }
  
  .logo a {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li {
    position: relative;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #a1eafb;
  }
  
 
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    top: 100%;
    left: 0;
    width: 150px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .homepage-container {
    background-image: url('https://images.pexels.com/photos/236915/pexels-photo-236915.jpeg?auto=compress&cs=tinysrgb&w=600://st2.depositphotos.com/40258810/42128/i/450/depositphotos_421286636-stock-photo-women-watch-pink-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  